---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Search">
  <h1>Search</h1>
  <div id="search"></div>

  <link rel="stylesheet" href="../pagefind/pagefind-ui.css" />
  <script is:inline>
    window.addEventListener('DOMContentLoaded', () => {
      const script = document.createElement('script');
      script.src = '../pagefind/pagefind-ui.js';
      script.onload = () => {
        new window.PagefindUI({
          element: '#search',
          showSubResults: true,
          highlightParam: 'highlight'
        });
      };
      document.body.appendChild(script);
    });
  </script>
</BaseLayout>
